VERTICE_ENV=local
VERTICE_ARTIFACT_DIR=artifacts
VERTICE_OBJECT_STORE=local
VERTICE_EVENT_BUS=memory
VERTICE_CASE_REPOSITORY=memory
VERTICE_AWS_REGION=us-east-1
VERTICE_S3_BUCKET=
VERTICE_S3_PREFIX=vertice
VERTICE_SQS_QUEUE_URL=
VERTICE_BEDROCK_MODEL_ID=

